baseURL = "https://alex11177.github.io/blog_network_cn/"
languageCode = "vi-vn"
title = "Blog Lập Trình Mạng"
theme = "PaperMod"

[markup.goldmark.renderer]
unsafe = true

[menu]

[[menu.main]]
name = "Home"
url = "/"
weight = 1

[[menu.main]]
name = "Blog"
url = "/blog/"
weight = 2

[[menu.main]]
name = "Profile"
url = "/profile/"
weight = 3
